* {
  margin: 10% 45%;
  background: white;
}

.star {
  position: fixed;
  top: -5;
  left: 83;
  font-size: 40px;
  -webkit-text-stroke: 1px #63a117;
  background: linear-gradient(
    to bottom,
    #ffffff 50%,
    #ffff00 60%,
    #517e19 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  width: 0px;
  height: 0px;
  position: fixed;
}

p[a] {
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #517e19;
  top: 50;
  left: 0;
}

p[b] {
  border-right: 120px solid transparent;
  border-left: 120px solid transparent;
  border-bottom: 120px solid #517e19;
  top: 100;
  left: -20;
}

p[c] {
  border-right: 140px solid transparent;
  border-left: 140px solid transparent;
  border-bottom: 140px solid #517e19;
  top: 150;
  left: -40;
}

p[d] {
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
  border-bottom: 160px solid #517e19;
  top: 210;
  left: -60;
}

i {
  width: 0px;
  height: 0px;
  position: fixed;
  border-top: 30px solid #8b5829;
  border-right: 25px solid #8b5829;
  border-left: 25px solid #8b5829;
  border-bottom: 30px solid #8b5829;
  top: 370;
  left: 80;
}

j {
  width: 0px;
  height: 0px;
  position: fixed;
}

j[a] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 150;
  left: -10;
}

j[b] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 150;
  left: 190;
}

j[c] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 220;
  left: -30;
}

j[d] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 220;
  left: 210;
}

j[e] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 290;
  left: -50;
}

j[f] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 290;
  left: 230;
}

j[g] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 370;
  left: -70;
}

j[h] {
  border-top: 10px solid #f947ff;
  border-right: 10px solid #f947ff;
  border-left: 10px solid #f947ff;
  border-bottom: 10px solid #f947ff;
  border-radius: 10px;
  top: 370;
  left: 250;
}
